@import '~styles/config';

.ProjectVisual {

  position: relative;
  width:100%;
  display:block;

  &:global(.is--paysage) {
    @include responsive($tabletSmall) {
      width:30vw;
      min-width:480px;
    }
  }
}
