@import '~styles/config';

.ProjectCatTitle {
  position: fixed;
  top:50%;
  left:2%;
  transform:translate(0%, -50%);
  font-size:28vw;
  color:red;
  z-index: -1;
  color:darken(#f9f9f9, 3%);
  font-weight: 300;
  line-height: 0.7;
  pointer-events: none;
  white-space: nowrap;

  @include responsive($tabletSmall, max) {
    position: absolute;
    top: 125px;
    left: 30px;
    transform:translate(0%, 0%);
    font-size:12vw;
    line-height: 1;
    white-space: normal;
  }

  span {
    display: block;
    position: relative;
  }
}
