@import '~styles/config';

.ScrollContainer {

  @include responsive($tabletSmall) {
    height:100vh;
  }

  &__inner {
    padding: 140px 30px 30px;

    @include responsive($tabletSmall) {
      padding: 0;
      height:100vh;
    }

    :global(.horizontal-scroll) {
      @include responsive($tabletSmall) {
        height:100%;
        @include flex(flex-start, flex-start);
        flex-wrap: nowrap;
        padding: 20vh 120px;
        will-change: transform;
      }

      @include responsive($tabletSmall, max) {
        position: relative!important;
        transform:none!important;
      }

      > * {
        @include responsive($tabletSmall) {
          width:auto;
          min-width:340px;
        }

        @include responsive($tabletSmall, max) {
          width:100%;
          display:block!important;
        }

        &:nth-child(even) {
          @include responsive($tabletSmall) {
            margin-top:40px;
          }
        }

        &:not(:last-child) {
          @include responsive($tabletSmall) {
            margin-right:120px;
          }
        }

        &+* {
          @include responsive($tabletSmall, max) {
            margin-top:40px;
          }
        }
      }
    }
  }
}
