h1 {
  @include fluid-type($tabletSmall, $deskXXL, 50px, 100px);
  font-weight:900;
}

h2 {
  @include fluid-type($tabletSmall, $deskXXL, 30px, 50px);
  font-weight:900;
}

h3 {
  @include fluid-type($tabletSmall, $deskXXL, 18px, 32px);
  font-weight:900;
}

p {
  @include fluid-type($tabletSmall, $deskXXL, 14px, 16px);
  line-height:1.6;
}

em {
  font-style:italic;
}

code {
  background:$grey;
  padding:0.25em 0.4em;
  @include rounded(3px);
}
