h1 {
  @include fluid-type($tabletSmall, $deskXXL, 50px, 100px);
  font-weight:900;
}

h2 {
  @include fluid-type($tabletSmall, $deskXXL, 30px, 50px);
  font-weight:900;
}

h3 {
  font-size:1.4rem;
  font-weight:900;
  margin-bottom:20px;
}

p {
  font-size:1.4rem;
  line-height:1.6;

  strong {
    font-weight:700;
  }
}

em {
  font-style:italic;
}

code {
  background:$grey;
  padding:0.25em 0.4em;
  @include rounded(3px);
}

.ProjetsCat {
  position: fixed;
  top:50%;
  left:5%;
  transform:translate(0%, -50%);
  font-size:28vw;
  color:red;
  z-index: -1;
  color:darken($white, 3%);
  font-weight: 300;
  line-height: 0.7;
  pointer-events: none;
  white-space: nowrap;
}
