@import '~styles/config';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;

  &__container {
    @include flex();
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width:100%;
  }
}

.Brand {
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 50px;
  overflow: hidden;
  pointer-events: all;

  &[aria-current="page"] {pointer-events: none;}

  @include responsive($menuBreakpoint) {
    max-width:240px;
    width:20vw;
    min-width:240px;
  }

  &:before {
    content:'';
    display:block;
    padding-top:100%;

    @include responsive($menuBreakpoint) {
      padding-top:20%;
    }
  }

  svg {
    position: absolute;
    top:0;
    left:0;
    width:240px;
    height:50px;

    @include responsive($menuBreakpoint) {
      height:100%;
      width:100%;
    }

    > * {
      :global(body.is--MenuOpen) & {
        @include responsive($menuBreakpoint, max) {
          fill: $white;
        }
      }
    }
  }
}
