@import '~styles/config';

.Nav {

    @include responsive($menuBreakpoint, max) {
       @include flex(center, center);
       position: fixed;
       top:0; left:0;
       width:100%;
       height:100vh;
       background:$fontColor;
       color:$white;
       padding: 110px 0;
    }

    :global(body:not(.is--MenuOpen)) & {
       @include responsive($menuBreakpoint, max) {
          display: none;
       }
    }

   &__item {

      display:block;
      text-align: center;

      @include responsive($menuBreakpoint) {
         display: inline-block;
      }

      &:global(.has--childs) {
        position:relative;
      }

      & + & {
         margin-top:20px;

         @include responsive($menuBreakpoint) {
           margin-top:0;
            margin-left: 40px;
         }
      }
   }

   &__link {
      position: relative;
      font-weight:700;
      text-transform:uppercase;
      letter-spacing:0.1em;
      font-size:2.4rem;
      color:inherit;
      text-decoration:none;
      pointer-events: all;
      transition:color 400ms $easeOutQuad;

      @include responsive($menuBreakpoint) {
         font-size:1.2rem;
      }

      &__Active,
      &:focus,
      &:hover {
         @include responsive($menuBreakpoint) {
           color: darken($fontColor, 20%);
         }

         &:after {
           transform-origin: left center;
           transform: scaleX(1)!important;

           @include responsive($menuBreakpoint) {
             background: darken($fontColor, 20%);
           }
         }
      }

      &:after {
         content:'';
         display:block;
         position: absolute;
         top:100%;
         left:0;
         width:100%;
         height:1px;
         background: $fontColor;
         transform:scaleX(0);
         transform-origin: right center;
         transition: transform 400ms $easeOutQuad, opacity 400ms $easeOutQuad;

         body.showMenu & {
            @include responsive($menuBreakpoint, max) {
               background:$white;
            }
         }
      }
   }

   &__childs {
     text-align: left;
     transform: translateY(10px);
     transition:all 400ms $easeOutQuad;
     text-align: center;
     margin: 10px auto 40px;

     @include responsive($menuBreakpoint) {
       position: absolute;
       top: 100%;
       left: 0;
       opacity: 0;
       visibility: hidden;
       pointer-events: none;
       text-align: left;
       padding-top: 10px;
       margin: 0;
     }

     .Nav__item:hover & {
       @include responsive($menuBreakpoint) {
         opacity: 1;
         visibility: visible;
         pointer-events: all;
         transform: translateY(0px);
       }
     }

     > li+li {
       margin-top: 3px;

       @include responsive($menuBreakpoint) {
         margin-top: 1px;
       }
     }

     .Nav__link {
       white-space: nowrap;

       @include responsive($menuBreakpoint, max) {
         font-size: 1.8rem;
       }

       &:after {
         top: 95%;
         background: darken($fontColor, 20%);
       }

       &:hover, &.Nav__link__Active {
         color: darken($fontColor, 20%);
       }
     }
   }
}
