@import '~styles/config';

.PageContent {
  padding:120px 0 80px;

  @include responsive($tablet) {
      @include flex(center, center);
      width:100%;
      height:100vh;
      overflow: auto;
  }

}
